
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Multer-File-Upload-Boilerplate</title>
</head>
<body>
    <h1>MULTER File Upload Boilerplate | Single File Upload</h1> 
<a href="api/login">Visit home</a>
    <h3>Hi</h3>
    <h3>There</h3>

</body>
</html>