<!DOCTYPE html>
<html lang="en">
<head>
    <title>login</title>
</head>
<body>
    <h1>LOGIN</h1> 
    <a href="google">Google Auth</a>
    <a href="login">Login</a>
    <a href="logout">logout</a>
    <h3>Hi</h3>
    <h3>There</h3>

</body>
</html>