<div class="bookDetail">
  <div class="container">
    <div class=row>
      <div class="col-md-3">
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="image">
            <div class="imgView"> <img src="../../assets/book.jpg" alt="img"></div>
            <div *ngIf="bookInfo">
              <p>
                Price: <span>{{bookInfo?.price }}</span> <br />
                Title: <span>{{bookInfo?.title }}</span> <br />
                ID: <span>{{bookInfo?.code }}</span> <br />
                Details: <span>{{bookInfo?.description }}</span> <br />
              </p>
              <a [routerLink]="['/addToCart']" [queryParams]="bookInfo"> <button type="button" class="btn btn-primary" (click)=addToCartApi(bookInfo)>Add To Cart</button>
              </a>
              <button type="button" class="btn btn-primary">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
