<form [formGroup]="profileForm">

  <label>
    First Name:
    <input type="text" formControlName="firstName">
  </label>
  <br>
  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>
  {{profileForm.value|json}}
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
<br>
<form [formGroup]="profileForm2" (ngSubmit)="onSubmit()">

  <label>
    First Name:
    <input type="text" formControlName="firstName">
  </label>
  <br>
  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>
  {{profileForm2.value|json}}
  {{profileForm2.status}}
  <div *ngIf="profileForm2.get('firstName').errors.required && ">Required</div>
  <button type="submit" [disabled]="!profileForm2.valid">Submit</button>
  <a [routerLink]="['/templateForm']">Template form</a>
</form>
