<div class="container">
    <form>
        <div class="row">
            <div class="col-25">
                <label for="fname">title:</label>
            </div>
            <div class="col-60">
                <input type="text" id="fname" name="title" placeholder="Book title">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lname">code:</label>
            </div>
            <div class="col-60">
                <input type="text" id="code" name="lastname" placeholder="code">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="fname">genre:</label>
            </div>
            <div class="col-60">
                <input type="text" id="fname" name="genre" placeholder="genre">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lname">description:</label>
            </div>
            <div class="col-60">
                <input type="text" id="lname" name="description" placeholder="description">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="fname">author:</label>
            </div>
            <div class="col-60">
                <input type="text" id="fname" name="author" placeholder="author">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lname">publisher:</label>
            </div>
            <div class="col-60">
                <input type="text" id="lname" name="publisher" placeholder="publisher">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="fname">pages:</label>
            </div>
            <div class="col-60">
                <input type="text" id="fname" name="pages" placeholder="pages">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lname">image_url:</label>
            </div>
            <div class="col-60">
                <input type="text" id="lname" name="image_url" placeholder="image_url">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="fname">buy_url:</label>
            </div>
            <div class="col-60">
                <input type="text" id="fname" name="buy_url" placeholder="buy_url">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lname">price:</label>
            </div>
            <div class="col-60">
                <input type="text" id="lname" name="price" placeholder="price">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lname">count:</label>
            </div>
            <div class="col-60">
                <input type="text" id="lname" name="count" placeholder="count">
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>